.failed {
  color: red;
}

.topper {
  color: green;
}

table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}

.sub-headers {
  font-style: italic;
}

td, th {
  width: 120px;
  padding: 5px 0;
}
